{% extends 'base.html.twig' %}

{% block main %}
    <div class="row justify-content-center p-3 p-lg-5">
        <div class="col-12 col-lg-10 p-4 box-custom">
            <h2 class="h3 border-bottom border-dark mb-3">Demande de lien de réinitialisation</h2>
            <p>Veuillez renseigner votre mail de connexion à la plateforme. Vous recevrez un lien de réinitialisation à cette adresse.</p>            
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}