/*réglages généraux */

@font-face {
    font-family: 'custom';
    src: url('./caviar.ttf');
}

@font-face {
    font-family: 'customBold';
    src: url('./caviarBold.ttf');
}

@font-face {
    font-family: 'customScript';
    src: url('./script.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'custom', sans-serif;
    font-size : 2vh;

    /*Palette : */
    --pal-prim-light :#e2c6bf;
    --pal-prim-mid :#9e5c55;
    --pal-prim-dark :#643737;
    
    --pal-sec-light :#dbd9de;
    --pal-sec-mid :#96929e;
    --pal-sec-dark :#45424a;

    --pal-gen-trans: #ffffff8b;
}

/*Mise en forme générale des pages */

body {
    background-color: var(--pal-sec-light);
    color : var(--pal-prim-dark);
}

main {
    position: relative;
    /*positionnement géré par le script mainAdjust.js*/
}

/*flash messages */


.alert-custom {
    position: fixed;
    bottom : 5vh;
    left : 5vw;
    width : 90vw;
    transition : width 2000ms;
    overflow: hidden;
    text-overflow: "";
    text-wrap: nowrap;
    z-index: 5;
}

/*formatage du texte*/

.text-custom, .text-custom-simple {
    color: var(--pal-prim-light);
}

.text-custom:hover {
    color: var(--pal-prim-mid);
}

.text-custom-simple:hover {
    color: var(--pal-prim-light);
}

.text-bold {
    font-family: 'customBold';
}

/* Mise en forme des élèments récurents*/

.box-custom {
    background-color: var(--pal-gen-trans);
    box-shadow: var(--pal-sec-mid) 2px 2px 5px 0;
    color : var(--pal-prim-dark);
}

.btn-prim-custom {
    background-color: var(--pal-prim-light);
    color : var(--pal-sec-dark);
    overflow: hidden;
}

.btn-prim-custom:hover {
    background-color: var(--pal-prim-mid);
    color : var(--pal-sec-light);
}

.btn-sec-custom {
    background-color: var(--pal-sec-dark);
    color : var(--pal-sec-light);
    overflow: hidden;
}

.btn-sec-custom:hover {
    background-color: var(--pal-sec-mid);
    box-shadow: var(--pal-sec-dark) 1px 1px 3px 0;
    color : var(--pal-prim-dark);
}


/* header */

header {
    position: fixed;
    top : 0;
    z-index: 10;
}

#header-top {
    background-color: var(--pal-sec-dark);
    color: var(--pal-prim-light);
    overflow: hidden;
}

.border-bottom-custom {
    border-bottom: var(--pal-prim-light) 2px solid;
}

    /*Animation background header - gérée par le script headerAnim.js*/

.back-anim {
    position : fixed;
    top : 0;
    right: 5%;
    width: 40%;
    background-size: 100% auto;
    background-repeat: revert;    
    padding: 0;
    overflow: hidden;
}

#back-anim-dark1 {
    background-image: url('../images/background/headerDark1.png');
    z-index: 11;
}

#back-anim-dark2 {
    background-image: url('../images/background/headerDark2.png');
    z-index: 14;
}

#back-anim-mid {
    background-image: url('../images/background/headerMid.png');
    z-index: 12;
}

#back-anim-light {
    background-image: url('../images/background/headerLight.png');
    z-index: 13;
}


/* navbar */

.navbar-custom {
    background-color: var(--pal-sec-dark);
    
}

.menu-custom {
    background-color: var(--pal-sec-dark);
}

.dropdown-custom:hover {
    background-color: var(--pal-sec-mid);
    font-weight: 700;
}

.navbar-nav .nav-link.show {
    color: var(--pal-prim-mid);
    font-weight: 900;
}

/*Page spécifique : mise en forme des référentiels */

.skill-capsule {
    border: var(--pal-sec-mid) 2px solid;
    border-radius: 20px;
    
}

.skill-body {
    display : none;
    
}

.icon-box {
    height: 2rem;
    aspect-ratio: 1;
    cursor: pointer;
}

/*Page spécifique : gestion des utilisateurs */

.img-icon {
    display: block;
    /*width : 70%;
    aspect-ratio: 1;*/
}

